/SO/Ex1/nbproject/private/
/SO/Ex1/build/
/SO/EX1/nbproject/private/
/SO/EX2/nbproject/private/
/SO/EX3/nbproject/private/
/SO/EX3/build/
/SO/EX3/dist/
/SO/HELLO WORLD/nbproject/private/
/SO/Hello/nbproject/private/
/ED/EX4/nbproject/private/
/ED/EX4/build/
/ED/EX5/nbproject/private/
/ED/EX5/build/
/ED/TEST_Parte2/nbproject/private/
/ED/TEST_Parte2/build/
/ED/Parte2/Ex3/nbproject/private/
/ED/Parte2/EX4/nbproject/private/
/ED/Parte2/EX4/build/
/ED/Parte2/EX5/nbproject/private/
/ED/Parte2/EX5/build/
/ED/Parte2/EX5/dist/
/ED/Parte2/EX5_maven/target/
